<div>
    <label for="Title">Title:</label>
    <input type="text" id="title" name="title" value="<%= book.title %>">
</div>
<div>

    <label for="Author">Author:</label>
    <select name="author" id="author">
        <% authors.forEach(function(author) { %>
            <% if (author.id===book.author) { %>
                <option value="<%= author.id %>" label="<%= author.name %>" selected></option>
                <% } else { %>
                    <option value="<%= author.id %>" label="<%= author.name %>"></option>
                    <% } %>
                        <% }) %>
    </select>
</div>
<div>

    <label for="Publication Date">Publication Date:</label>
    <input type="date" id="publishDate" name="publishDate"
        value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0]%>">


</div>
<div>

    <label for="Page Count">Page Count:</label>
    <input type="number" id="pageCount" name="pageCount" value="<%= book.pageCount %>">
</div>
<div>
    
        <label for="Cover">Cover:</label>
        <input type="file" name="cover" class="filepond" >
</div>

<div>
    <label for="Description">Description:</label>
    <textarea id="description" name="description"><%= book.description %></textarea>
</div>

